body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: clamp(300px, 1fr, 600px) 4fr;
  margin: 0;
  font-family: arial;
}

button {
  background-color: rgb(0, 162, 255);
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0px 30px;
  cursor: pointer;
  height: 30px;
  font-weight: bold;
}

img {
  color: white;
  height: 20px;
}

.dog {
  height: 60px;
  width: 60px;;
  border-radius: 100px;
}

.dog2 {
  height: 40px;
  width: 40px;
  border-radius: 60px;;
}

input {
  width: clamp(300px, 80%, 600px);
  height: 20px;
  border: none;
  border-radius: 25px;
  background-color: lightgrey;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 10px;
}

.header div {
  display: flex;
  gap: 20px;
}

.input,
.hi-there {
  align-items: center;
  justify-content: start;
  padding-left: 25px;
}

.hi-there div{
  display: block;
}

h3, 
h6 {
  margin: 8px;
}

.buttons,
.name{
  align-items: center;
  justify-content: center;
}

.sidebar {
  background-color: rgb(0, 162, 255);
  grid-area: 1 / 1 / 3 / 2;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}

.sidebar div div {
  display: flex;
  margin-bottom: 5px;
  gap: 15px;
  cursor: pointer;
}

.sidebar-top,
.sidebar-middle {
  margin-bottom: 40px;
}

.main-content {
  background-color: rgb(226,232,240,255);
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 10fr;
}

.main-content-header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.main-content-main {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin: 15px;
}

.main-content-main div {
  background-color: white;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(left, #88c7ff, #88c7ff 2%, transparent 2%, transparent 100%);
}

.main-content-main div p,
.right-card div p {
  color: grey;
}

.main-content-main p,
.main-content-main h4 {
  margin: 20px;
}

.card-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 15px;
}
 
.main-content-right {
  font-size: 12px;
  margin: 15px 15px 15px 0;
}

.right-card,
.trending {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.trending div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trending div div{
  display: block;
}


